html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit}
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/*----------------------------- 
PALETTE
red #ec1f23
orange #ff7c01
yellow #ffc510
blue #8bd2c4
purple #f5bafb
font-family: 'Poppins', sans-serif;
-----------------------------*/


/*----------------------------- 
PROGENITORS
-----------------------------*/
.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

* {
    font-size: 62.5%;
}
h1, h2, h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
}
h2 {
    font-size: 5.4rem;
    letter-spacing: 1.4px;
}
h3 {
    font-size: 4.2rem;
    letter-spacing: 0.8px;
}

p, a {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    line-height: 36px;
}
/*----------------------------- 
NAVIGATION
-----------------------------*/
.topNav {
    display: flex;
    justify-content: right;
    padding: 0 18px;
    align-items: center;
    align-content: center;
    height: 72px;
    position: relative;
}
.topLogo {
    display: flex;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 22px;
}
.topNav ul {
    list-style: none;
    display: flex;
}
.topNav ul li a{
    color: #000;
    padding: 0 6px;
    margin: 0 6px;
    text-decoration: none;
}
.topNav ul li a:hover {
    border-bottom: 3px solid #ec1f23;
} 
.navIcons a {
    margin: 0;
}
.navIcons a i{
    font-size: 2.4rem;
    margin: 0;
} 

/*----------------------------- 
BECOME MEMBER
-----------------------------*/
.becomeMember {
    background-color: #070707;
    display: flex;
    height: 30vh;
}
.memberText {
    display: flex;
    flex-direction: column;
    color: rgb(247, 247, 247);
    text-align: center;
    width: 55%;
    justify-content: center;
    align-items: center;
}
.memberText h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 3rem;
}
.memberButton {
    display: flex;
    width: 45%;
    background-image: url(./assets/becomeAMember.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    justify-content: flex-end;
    align-items: flex-end;
}
.memberButton a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    background-color: #ffc510;
    box-shadow: 0 8px 0 #b88d0d;
    padding: 8px 14px;
    margin: 0 44px 22px 0;
    border-radius: 25px 0 25px 0;
    cursor: pointer;
    position: relative;
}

.memberButton a:active {
    top: 8px;
    box-shadow: none;
}
.memberImg {
    display: flex;
    width: 100%;
    justify-content: right;
}

/*----------------------------- 
HERO IMAGE
-----------------------------*/
.heroSplash {
    width: 100%;
    margin: 0;
    height: 70vh;
    background-color: #8bd2c4;
}
.heroSplash div img {
    width: 100%;
    object-fit: contain;
}

/*----------------------------- 
EXIST SECTION
-----------------------------*/
.exist {
    background-image: url(./assets/existBackground.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.exist .wrapper{
    display: flex;
    justify-content: space-between;
}
.existPic {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.existPic img{
    width: 680px;
    height: auto;
}
.existTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exist h2 {
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,0) 25%, rgba(245,186,251,1) 25%, rgba(245,186,251,1) 75%, rgba(255,255,255,0) 75%);
    padding: 12px 48px;
}
.existText {
    width: 45%;
}
.existLink {
    display: flex;
    justify-content: right;
}
.existLink a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    background-color: #ffc510;
    box-shadow: 0 8px 0 #b88d0d;
    padding: 12px 22px;
    border-radius: 25px 0 25px 0;
    cursor: pointer;
    position: relative;
}
.existLink a:active {
    top: 8px;
    box-shadow: none;
}

/*----------------------------- 
WHAT WE DO SECTION
-----------------------------*/
.whatWeDo {
    background-color: #8bd2c4;
    background-image: url(./assets/trialBG2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 22px 0;
}
.whatWeDoTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatWeDo h2 {
    background: rgb(255,255,255);
    background: linear-gradient(315deg, rgba(255,255,255,0) 20%, rgba(139,210,196,1) 20%, rgba(139,210,196,1) 80%, rgba(255,255,255,0) 80%);
    padding: 12px 48px;
}
.whatWeDo ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.whatWeDo ul li {
    list-style: none;
}
.whatWeDoTop {
    display: flex;
}
.whatWeDoBox {
    display: flex;
    margin: 22px 0;
    box-shadow: 10px -10px  #3e7991;
    -moz-box-shadow: 10px -10px  #3e7991;
    -webkit-box-shadow: 14px 20px  #3e7991;
    -o-box-shadow: 10px -10px  #3e7991;
    border-radius: 0 25px 0 25px;
}
.whatWeDoBoxImg {
    background-color: #fff;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 0 0 0 25px;
}
.whatWeDoBoxImg img{
    width: 100%;
    border-radius: 25px 0 0 25px;
}
.whatWeDoBoxText {
    background-color: #fff;
    padding: 18px 12px;
    width: 70%;
    border-radius: 0 25px 0 0;
}
.whatWeDoBoxText h3 {
    background: rgb(139,210,196);
    background: linear-gradient(135deg, rgba(139,210,196,1) 0%, rgba(139,210,196,1) 80%, rgba(255,255,255,0) 80%);
    padding: 6px 133px 6px 10px;
    width: fit-content;
}
.whatWeDo .wrapper .existLink {
    padding: 16px 0;
}

/*----------------------------- 
CONFERENCE SPLASH SECTION
-----------------------------*/
.conference {
    background-color: #3e7991;
}
.conferenceBanner {
    margin: 0 0 28px 0;
    padding: 0;
}
.conferenceBanner img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.conference .existLink {
    padding: 0 0 22px 0;
}
/*----------------------------- 
CREW SECTION
-----------------------------*/
.crew {
    background-color: #f5bafb;
    background-image: url(./assets/trialBG3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 44px 0;
}
.crewTitle {
    display: flex;
    justify-content: center;
    text-align: center;
}
.crewTitle h2 {
    background: rgb(255,255,255);
    background: linear-gradient(315deg, rgba(255,255,255,0) 20%, rgba(245,186,251,1) 20%, rgba(245,186,251,1) 80%, rgba(255,255,255,0) 80%);
}
.crew h3 {
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(245,186,251,1) 0%, rgba(245,186,251,1) 80%, rgba(255,255,255,0) 80%);
    padding: 6px 0 6px 10px;
    text-align: left;
    width: 100%;
}
.crew ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.crew ul li {
    width: 30%;
    background-color: #fff;
    box-shadow: 10px -10px  #b767c0;
    -moz-box-shadow: 10px -10px  #b767c0;
    -webkit-box-shadow: 14px 20px  #b767c0;
    -o-box-shadow: 10px -10px  #b767c0;
    border-radius: 25px 0 25px 0;
}
.crewImg {
    display: flex;
    justify-content: center;
}
.crewImg img {
    width: 100%;
    height: 350px;
    background-color: #fff;
    border-radius: 25px 0 0 0;
}
.crewText {
    padding: 0 14px;
    text-align: left;
}
.crew .existLink {
    padding: 28px 0;
}
/*----------------------------- 
FOOTER SECTION
-----------------------------*/
footer {
    display: flex;
    background-image: url(./assets/footerBG.png);
    background-size: cover;
}
footer .wrapper {
    display: flex;
    padding: 24px 0;
}
footer nav {
    width: 50%;
}
.footerLogo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomLogo img{
    display: flex;
    width: 140px;
    height: auto;
}
.bottomNav {
    display: flex;
    justify-content: center;
    width: 70%;
}
.bottomNav .navIcons {
    display: flex;
    align-items: center;
    align-content: center;
}
.bottomNav ul {
    display: flex;
    align-items: center;
    align-content: center;
}
footer nav ul li {
    list-style: none;
    margin: 6px 0;
}
footer nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px;
}